h1{
    text-align: center; 
    margin-top: 15px;
    /*font-style: italic; 
    font-weight: 50; */
}

.main{
    margin-top: 25px;
    width:50%;
    height:80%;
    margin-left: auto;  
    margin-right: auto;
    border: 2px solid black;
    /*border-radius:10px; */
    background-color:antiquewhite;
}

.title-1{
    margin-top:3px;
    text-align:center;
    width:120px;
    margin-left:10px;
}

.content-1{
   /* display:flex; */
    margin-top: 28px;
    margin-left: 10px;
    margin-bottom:30px;
}

.title-2{
    margin-top:3px;
    text-align:center;
    width:120px;
    margin-left:30px;
}

.content-2{
   /* display:flex; */
    margin-top: 28px;
    margin-left: 10px;
    margin-bottom:30px;
}

.input{
    width:35em;
    height:30px;
    padding-bottom:3px;
    /*padding-left:5px;*/
    word-wrap: break-word;
    margin-left:50px;
}


.des{
    width:35em;
    height:210px;
    padding:10px;
    margin-left:50px;

   /* line-height: 1.6;
    font-size:15px;
    font-family: arial, sans-serif; */
}

.btn{
    display:flex;
    justify-content:center;
}

button{
    /*background-color: rgb(197, 200, 202);
    border:1px solid black;
    width:6em; 
    border-radius:5px; */
    margin: 1%; 
    font-weight:bold; 
   /* height:20px;
    cursor: pointer; */
}

span{
    padding-top: 3px;
    margin-left: 50px;
    color: red;
}